<div id="app">
  <div class="main-wrapper">
    <div class="navbar-bg"></div>
    <nav class="navbar navbar-expand-lg main-navbar">
      <form class="form-inline mr-auto">
        <ul class="navbar-nav mr-3">
          <li><a href="#" data-toggle="sidebar" class="nav-link nav-link-lg"><i class="fas fa-bars"></i></a></li>
          <li><a href="#" data-toggle="search" class="nav-link nav-link-lg d-sm-none"><i class="fas fa-search"></i></a></li>
        </ul>
        <div class="search-element">
          <input class="form-control" type="search" placeholder="Search" aria-label="Search" data-width="250">
          <button class="btn" type="submit"><i class="fas fa-search"></i></button>
          <div class="search-backdrop"></div>

        </div>
      </form>
      <ul class="navbar-nav navbar-right">

        <li class="dropdown"><a href="#" data-toggle="dropdown" class="nav-link dropdown-toggle nav-link-lg nav-link-user">
          <img alt="image" src="../assets/img/avatar/avatar-1.png" class="rounded-circle mr-1">
          <div class="d-sm-none d-lg-inline-block"> {{ currentUser.email }}</div></a>
          <div class="dropdown-menu dropdown-menu-right">
            <a href="/home" class="dropdown-item has-icon">
              <i class="far fa-user"></i> Perfil
            </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item has-icon text-danger" (click)="salir()" >
              <i class="fas fa-sign-out-alt"></i> Cerrar Sesion
            </a>
          </div>
        </li>
      </ul>
    </nav>
    <div class="main-sidebar">
      <aside id="sidebar-wrapper">
        <div class="sidebar-brand">
          <a href="/home">Leptus</a>
        </div>
        <div class="sidebar-brand sidebar-brand-sm">
          <a href="/home">LP</a>
        </div>
        <ul class="sidebar-menu">
            <li class="menu-header">Menu</li>
            <li class="nav-item dropdown active">
              <a href="#" class="nav-link has-dropdown"><i class="fas fa-fire"></i><span>Módulos</span></a>
              <ul class="dropdown-menu">
                <li><a class="nav-link" href="/home">General </a></li>
              </ul>
            </li>
        </ul>
      </aside>
    </div>

    <!-- Main Content -->
    <div class="main-content">
      <section class="section">
        <div class="row">
          <div class="col-lg-4 col-md-4 col-sm-12">
            <div class="card card-statistic-2">
              <div class="card-stats">
                <div class="card-stats-title">Order Statistics -
                  <div class="dropdown d-inline">
                    <a class="font-weight-600 dropdown-toggle" data-toggle="dropdown" href="#" id="orders-month">August</a>
                    <ul class="dropdown-menu dropdown-menu-sm">
                      <li class="dropdown-title">Select Month</li>
                      <li><a href="#" class="dropdown-item">January</a></li>
                      <li><a href="#" class="dropdown-item">February</a></li>
                      <li><a href="#" class="dropdown-item">March</a></li>
                      <li><a href="#" class="dropdown-item">April</a></li>
                      <li><a href="#" class="dropdown-item">May</a></li>
                      <li><a href="#" class="dropdown-item">June</a></li>
                      <li><a href="#" class="dropdown-item">July</a></li>
                      <li><a href="#" class="dropdown-item active">August</a></li>
                      <li><a href="#" class="dropdown-item">September</a></li>
                      <li><a href="#" class="dropdown-item">October</a></li>
                      <li><a href="#" class="dropdown-item">November</a></li>
                      <li><a href="#" class="dropdown-item">December</a></li>
                    </ul>
                  </div>
                </div>
                <div class="card-stats-items">
                  <div class="card-stats-item">
                    <div class="card-stats-item-count">24</div>
                    <div class="card-stats-item-label">Pending</div>
                  </div>
                  <div class="card-stats-item">
                    <div class="card-stats-item-count">12</div>
                    <div class="card-stats-item-label">Shipping</div>
                  </div>
                  <div class="card-stats-item">
                    <div class="card-stats-item-count">23</div>
                    <div class="card-stats-item-label">Completed</div>
                  </div>
                </div>
              </div>
              <div class="card-icon shadow-primary bg-primary">
                <i class="fas fa-archive"></i>
              </div>
              <div class="card-wrap">
                <div class="card-header">
                  <h4>Total Orders</h4>
                </div>
                <div class="card-body">
                  59
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-12">
            <div class="card card-statistic-2">
              <div class="card-chart">
                <canvas id="balance-chart" height="80"></canvas>
              </div>
              <div class="card-icon shadow-primary bg-primary">
                <i class="fas fa-dollar-sign"></i>
              </div>
              <div class="card-wrap">
                <div class="card-header">
                  <h4>Balance</h4>
                </div>
                <div class="card-body">
                  $187,13
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-12">
            <div class="card card-statistic-2">
              <div class="card-chart">
                <canvas id="sales-chart" height="80"></canvas>
              </div>
              <div class="card-icon shadow-primary bg-primary">
                <i class="fas fa-shopping-bag"></i>
              </div>
              <div class="card-wrap">
                <div class="card-header">
                  <h4>Sales</h4>
                </div>
                <div class="card-body">
                  4,732
                </div>
              </div>
            </div>
          </div>
        </div>



      </section>
    </div>
    <footer class="main-footer">
      <div class="footer-left">
        Copyright &copy; 2018 <div class="bullet"></div> Design By <a href="https://nauval.in/">Muhamad Nauval Azhar</a>
      </div>
      <div class="footer-right">
        2.3.0
      </div>
    </footer>
  </div>
</div>
