<div id="app">
  <section class="section">
    <div class="container mt-5">
      <div class="row">
        <div class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-8 offset-lg-2 col-xl-8 offset-xl-2">
          <div class="login-brand">
            <img  src="../assets/img/modulos/login/logo.svg" alt="logo" width="200" class="shadow-light rounded-lg">
          </div>

          <div class="card card-primary">
            <div class="card-header"><h4>Registrar</h4></div>

            <div class="card-body">
              <form
                  *ngIf="!isSuccessful"
                  name="form"
                  (ngSubmit)="f.form.valid && onSubmit()"
                  #f="ngForm"
                  novalidate
                >
                <div class="row">
                  <div class="form-group col-6">
                    <label for="name">Nombres</label>
                    <input
                      id="name"
                      type="text"
                      class="form-control"
                      name="name"
                      autofocus
                      [(ngModel)]="form.name"
                      #name="ngModel"
                    >
                  </div>
                  <div class="form-group col-6">
                    <label for="last_name">Apellidos</label>
                    <input id="last_name" type="text" class="form-control" name="last_name">
                  </div>
                </div>

                <div class="form-group">
                  <label for="email">Email</label>
                  <input
                    id="email"
                    type="email"
                    class="form-control"
                    name="email"
                    [(ngModel)]="form.email"
                    #email="ngModel"
                  >
                  <div class="invalid-feedback">
                  </div>
                </div>

                <div class="row">
                  <div class="form-group col-6">
                    <label for="password" class="d-block">Contraseña</label>
                    <input
                      id="password"
                      type="password"
                      class="form-control pwstrength"
                      data-indicator="pwindicator"
                      name="password"
                      [(ngModel)]="form.password"
                      minlength="6"
                      #password="ngModel"
                    >
                    <div id="pwindicator" class="pwindicator">
                      <div class="bar"></div>
                      <div class="label"></div>
                    </div>
                  </div>
                  <div class="form-group col-6">
                    <label for="password2" class="d-block">Contraseña Confirmacion</label>
                    <input
                      id="password2"
                      type="password"
                      class="form-control"
                      name="password-confirm"
                      minlength="6"
                    >
                  </div>
                </div>

                <div class="form-group">
                  <button type="submit" class="btn btn-primary btn-lg btn-block">
                    Registrar
                  </button>
                </div>
              </form>
              <div class="alert alert-success" *ngIf="isSuccessful">
                Your registration is successful!
              </div>
            </div>
          </div>
          <div class="simple-footer">
            Copyright &copy; 2021
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
